@import "../variables.module.scss";

.projects {
  height: 100%;
  width: 100%;
  padding: 3rem;
  background-color: $projects-background;
  color: $dark-gray;

  .wrapper {
    width: 100%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;

    .title {
      position: static;
      top: 0vh;
      left: 5vw;
      font-size: 7rem;
      z-index: 5;
      width: 100%;
      margin: 0;

      h1 {
        color: $dark-gray;
      }
    }

    .content {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      position: relative;
      z-index: 10;

      .imageContainer {
        img {
          width: 100%;
          height: auto;
          display: block;
        }
      }

      .text {
        color: $dark-gray;
        font-family: "Mier";
        h4 {
          font-size: 3rem;
        }

        .skills {
          background-color: $gray;
          h5 {
            font-size: 1.5rem;
            color: white;
          }
        }

        p {
        }
      }
    }
  }
}
