@import "../variables.module.scss";

.projects {
  height: 100vh;
  width: 100%;
  padding: 3rem;
  background-color: $light-background;

  &__wrapper {
    padding: 3rem;
    height: 100%;
    // display: flex;
    // justify-content: center;
    // align-items: center;

    &__title {
      position: relative;
      left: 5vw;
      font-size: 7rem;
      z-index: 5;
      width: min-content;
      margin: 0;

      h1 {
        color: $light-text;
      }
    }
  }
}
