@import "../variables.module.scss";

.projects {
  height: 100vh;
  width: 100vw;
  background-color: $projects-background;
  color: $dark-gray;

  .wrapper {
    width: 100%;
    height: 100%;
    padding: 3rem;

    .title {
      position: absolute;
      top: 0;
      // left: 5vw;
      font-size: 7rem;
      z-index: 5;
      width: 100%;
      margin: 0;

      h1 {
        color: $dark-gray;
      }
    }

    .contents {
      width: 500%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      // flex-wrap: nowrap;
      overflow-x: hidden;
      z-index: 20;
      box-sizing: border-box;
      padding-top: 1rem;

      .content {
        margin: 1rem;

        img {
          width: 100%;
          display: block;
          filter: grayscale(0.4);
        }

        .text {
          position: absolute;
          top: 80%;
          font-family: "Mier";

          h4 {
            font-size: 3rem;
            color: $dark-gray;
          }

          .skills {
            background-color: $gray;

            h5 {
              font-size: 1.5rem;
              color: white;
            }
          }

          p {
          }
        }
      }
    }
  }
}
