@import "../variables.module.scss";

.container {
  height: 100%;
  width: 100%;
  padding: 3rem;
  background-color: $dark-background;

  .wrapper {
    height: 100%;
    width: 100%;
    color: $dark-text;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-areas: "content title";
    grid-gap: 1rem;
    background-color: $dark-background;

    .contentContainer {
      grid-area: "content";

      background-color: $dark-background;

      .content {
        margin-top: 1rem;
        .title {
          font-size: 2.5rem;
          font-family: "Manrope";
          font-weight: 800;
        }

        .text {
          width: 60%;
          h6 {
            font-size: 1.7rem;
            font-weight: bold;
          }
          p {
            font-size: 1.3rem;
            font-family: "Mier";
            margin-bottom: 0;
          }
        }

        .seeProjects {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          color: 1px solid $dark-text;
          font-size: 1.5rem;
          text-transform: uppercase;

          .border {
            border: 1px solid $dark-text;
            background-color: $dark-background;
            color: $dark-text;
            padding: 0.2rem;
            font-size: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 1rem;

            button {
              font-size: 1.1rem;
              border: 1px solid $dark-text;
              gap: 1rem;
            }

            &:hover {
              background-color: white;
              color: black;
            }
          }
        }

        .line {
          border-bottom: 2px solid $dark-text;
        }
      }
    }
    .pageTitle {
      grid-area: "title";
      font-size: 7rem;
      z-index: 5;
      display: grid;
      justify-content: center;
      align-items: center;
      margin: 0;

      h1 {
        color: $dark-text;
      }

      .heart {
        transform: scale(1.5);
        position: relative;
        bottom: 25vh;
        left: 5vw;
      }
    }
  }
}
