@import "../variables.module.scss";

.animatedTitle {
  .title {
    font-size: 3rem;
    font-weight: 600;

    .word {
      display: inline-block;
      margin-right: 1rem;
      // white-space: nowrap;

      .character {
        display: inline-block;
        margin-right: -0.05;
      }
    }
  }
}
