@import "../variables.module.scss";

.banner {
  padding: 3rem;
  padding-top: 4rem;
  width: 100%;
  height: 100vh;
  background: $banner-background;
  box-sizing: border-box;

  .rowTitle {
    font-size: 12rem;
    line-height: 1.4;
    font-weight: 400;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $dark-gray;
    width: 100%;
    font-family: "Armouk";

    .bannerRowTop {
      text-align: left;
    }

    .bannerRowCenter {
      text-align: center;
    }

    .bannerRowBottom {
      text-align: right;
    }

    .scrollDown {
      height: 200px;
      width: 200px;
      border-radius: 100%;
      background: $gray;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      right: 40vw;
      bottom: 17vh;

      span {
        font-family: "Murmure";
        font-size: 2.5rem;
        position: relative;
        color: $light-text;
        font-style: italic;
        color: white;

        &:hover {
          color: $light-accent;
        }
      }
    }
  }
}
