@import "../variables.module.scss";

.container {
  padding: 3rem;
  width: 100%;
  height: 95vh;
  background: $dark-background;
  box-sizing: border-box;

  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-family: "Manrope";
    color: $dark-text;
    width: 100%;

    h2 {
      font-size: 9rem;
      line-height: 2;
      font-weight: 800;
    }

    .left {
      display: flex;
      justify-content: center;
      align-items: right;
      text-align: left;
    }

    .right {
      display: flex;
      justify-content: left;
      align-items: center;
      text-align: right;

      .arrow {
        font-size: 1rem;
        position: relative;
        top: 34vh;
        right: 50vw;
        transform: scale(7) rotate(40deg);
        z-index: 50;
        // margin: 0 auto;
        background: transparent;

        span {
          font-family: "Murmure";
          font-size: 0.5rem;
          position: relative;
          color: $dark-text;
          font-style: italic;

          &:hover {
            color: $dark-accent;
          }
        }
      }
    }
  }
}
