@import "../variables.module.scss";

.banner {
  padding: 3rem 2rem;
  width: 100%;
  height: 90vh;
  background: $banner-background;
  box-sizing: border-box;

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    color: $dark-gray;
    width: 100%;
    margin-top: 2rem;

    h1 {
      font-family: "Armouk";
      font-size: 11rem;
      line-height: 1;
      font-weight: 300;
      text-transform: uppercase;
      text-align: left;
    }

    .bannerRowTop {
      text-align: left;
      align-items: flex-start;
    }

    .bannerRowCenter {
      text-align: center;
      align-items: center;
    }

    .bannerRowBottom {
      text-align: right;
    }

    // .scrollDown {
    //   height: 200px;
    //   width: 200px;
    //   border-radius: 100%;
    //   background: $gray;
    //   position: relative;
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;
    //   flex-direction: column;
    //   left: 60vw;
    //   bottom: -15vh;

    //   &:hover + span {
    //     background-color: $dark-blur;
    //     color: $dark-gray;
    //   }

    //   span {
    //     font-family: "Mier";
    //     font-size: 2rem;
    //     // position: relative;
    //     color: whitesmoke;
    //   }
    // }
  }
}
