@import "../variables.module.scss";

.cursor {
  background-color: $cursor;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 100;
  mix-blend-mode: difference;
}
