@import "../variables.module.scss";

.container {
  padding: 1rem 3rem;
  width: 100%;
  height: 5vh;
  background-color: $dark-background;

  .wrapper {
    position: fixed;
    top: 1rem;
    left: 62vw;
    margin: 0;
    padding: 0;

    .content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: transparent;

      @media screen and (min-width: $laptop-min) and (max-width: $laptop-max) {
        left: 60%;
      }

      .navItem {
        // color: white;
        backdrop-filter: blur(2em);
        padding: 1rem;
        border-radius: 15px;
        font-weight: bold;
        text-transform: uppercase;
        background-color: $light-blur;
        margin-left: 2em;
        z-index: 5;

        a {
          color: $dark-text;
        }
        &:hover {
          box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
        }
      }
    }
  }
}

//mobile menu?

// .inner-header {
//     z-index: 10;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   align-items: center;
//   width: 95%;
//   position: sticky;
//   background: ${(props) => props.theme.blur};
//   backdrop-filter: blur(2em);
//   position: fixed;
//   top: 1vh;
//   padding: 0.5rem;

//   button {
//     border: none;
//     background: none;
//     outline: none;
//     font-size: 1.3rem;
//     font-weight: 700;

//     &:hover {
//     }
//   }
// }
