@import "../variables.module.scss";

.container {
  width: 100vw;
  height: 100%;
  background-color: $project-background;

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5rem 3rem;

    .content {
      width: 80%;
      height: 100%;
      color: $dark-gray;
      background-color: $project-dark-bg;
      box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
        rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
      border-radius: 15px;
      padding: 5rem;

      .text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1rem;
      }
    }
  }
}
