@font-face {
  font-family: "Mier";
  src: url("../assets/fonts/MierA-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Armouk";
  src: url("../assets/fonts/Armouk.woff2") format("woff2");
}

html,
body {
  font-size: 16px;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  cursor: none;
  font-family: "Mier", "Armouk", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  overflow-wrap: break-word;
}

h1 {
  font-family: "Armouk";
  color: white;
  font-size: 6rem;
}

h2 {
  font-family: "Mier";
  font-size: 2rem;
  color: white;
  text-transform: uppercase;
}

h3 {
  font-size: 8rem;
}

h4 {
  font-size: 6rem;
}

h5 {
  font-size: 4rem;
}

h6 {
  font-size: 3rem;
}

p {
  font-size: 18px;
  font-family: "Mier";
  overflow-wrap: break-word;
}

ul,
li {
  list-style: none;
  font-size: 18px;
  line-height: 2;
}

a {
  text-decoration: none;
}

code {
  background-color: hsla(0, 1%, 26%, 0.308);
  color: white;
  font-size: 16px;
  padding: 0.2em;
  border-radius: 5px;
}

button {
  box-sizing: border-box;
  font-family: inherit;
  border: 0;
  padding: 0;
  margin: 0;
  font-family: inherit;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.container {
  padding: 0 2rem;
  margin: 0 auto;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found {
  a {
    text-decoration: underline;
  }
}
