// new colors
$main-background: #d4cac9;
$project-background: #ccc9d4;
$project-dark-bg: #a7a2b3;
$skills-background: #c9cdd4;
$contact-background: #d4cfc9;
$notFound-background: #d1d4c9;
$gray: hsla(0, 0%, 23%, 0.288);
$dark-gray: #495057;
$cursor: #c9cdd4;

// for light background
$light-text: #0a0a0a;
$light-background: #f5f5f5;
$light-accent: #ff006e;
$light-cursor: #fff;
$light-pastel: #fa89be;
$light-blur: hsla(0, 1%, 26%, 0.308);

// for dark background
$dark-text: #f5f5f5;
$dark-background: #0a0a0a;
$dark-accent: #04e762;
$dark-cursor: #fff;
$dark-pastel: #4361ee;
$dark-blur: hsla(0, 1%, 14%, 0.1);

// media breakpoints
// max-width
$mobile: 425px;
$tablet: 768px;
//min-width and max-width
$laptop-min: 1024px;
$laptop-max: 1440px;
//min-width
$desktop: 1441px;

:export {
  light-text: $light-text;
  light-background: $light-background;
  light-accent: $light-accent;
  light-cursor: $light-cursor;
  light-pastel: $light-pastel;
  light-blur: $light-blur;
  dark-text: $dark-text;
  dark-background: $dark-background;
  dark-accent: $dark-accent;
  dark-cursor: $dark-cursor;
  dark-pastel: $dark-pastel;
  dark-blur: $dark-blur;
  mobile: $mobile;
  tablet: $tablet;
  laptop-min: $laptop-min;
  laptop-max: $laptop-max;
  desktop: $desktop;
}
